<div class="row gx-4 mb-2">
  <div class="col">
    <h5>Преподаватели</h5>
  </div>
  <div class="col">
    <%= link_to "Больше", admin_teachers_path, class: "btn btn-secondary", data: { turbo: false } %>
  </div>

  <%= render 'shared/teacher_search', target: 'schedule_teachers' %>

  <div style="height: 200px; overflow-y: scroll; border: 1px solid #ccc;">
    <%= turbo_frame_tag "schedule_teachers" do %>
      <div class="list-group">
        <% teachers.each do |teacher| %>
          <label class="list-group-item d-flex justify-content-between align-items-center"><%= "#{teacher.surname} #{teacher.name} #{teacher.patronymic}" %>
            <input
              <%= radio_button_tag "change[teacher_id]", teacher.id,
                class: "form-check-input me-2", data: { action: "change->transfers-teacher-selection#selectTeacher change->unsaved-changes#checkChanges", teacher_id: teacher.id, teacher_selection_target: "teacherOption" }, checked: selected_teacher.to_i == teacher.id %>
            </input>
          </label>
        <% end %>
      </div>
    <% end %>
  </div>
</div>