<%= turbo_stream.update 'flash' do %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Группа успешно создана.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<%= turbo_stream.append 'groups' do %>
  <option value="<%= @group.id %>" selected><%= @group.group_name %></option>
<% end %>

<%= turbo_stream.replace 'editable' do %>
  <%= turbo_frame_tag "editable" do %>
    <%= link_to "Новая группа", new_admin_faculty_student_group_path(faculty_id: params[:faculty_id]), class: "btn btn-primary" %>
    <%= link_to "Удалить группу", "#", class: "btn btn-danger", data: { action: "click->groups#deleteGroup" } %>
    <%= link_to "Новый период", new_admin_academic_period_path(faculty_id: params[:faculty_id]), class: "btn btn-primary" %>
    <%= link_to "Редактировать период", "#", class: "btn btn-warning", data: { action: "click->academic-period#editAcademicPeriod",academic_period_target: "editPeriodBtn" } %>
    <%= link_to "Удалить период", "#", class: "btn btn-danger", data: { action: "click->academic-period#deleteAcademicPeriod",academic_period_target: "deletePeriodBtn" } %>
  <% end %>
<% end %>