<%= link_to "Назад", admin_faculties_path %>

<div data-controller="groups academic-period" class="mb-5">

    <!-- Поля выбора группы и курса -->
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Группа</label>
        <div id="groups_container">
          <select class="form-select" aria-label="Выберите группу" id='groups' data-groups-target="groupSelect">
            <% @groups.each do |group| %>
              <%= render partial: 'group', locals: { group: group } %>
            <% end %>
          </select>
        </div>
      </div>
      
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Курс</label>
        <select class="form-select" aria-label="Выберите курс" id ='courses' data-groups-target="courseSelect">
          <% 5.times do |i| %>
            <option value="<%= i+1 %>"><%= i+1 %></option>
          <% end %>
        </select>
      </div>

      <!-- академ период -->
      <div class="col-md-6">
        <label for="academic_period" class="form-label">Академический период</label>
        <select class="form-select" id="academic_period" data-academic-period-target="academicPeriodSelect" data-groups-target="academicPeriodSelect">
          <% AcademicPeriod.where(faculty_id: params[:faculty_id]).each do |period| %>
            <option value="<%= period.id %>"><%= period.name %></option>
          <% end %>
        </select>
      </div>

     <%= turbo_frame_tag "editable" do %>
        <%= link_to "Новая группа", new_admin_faculty_student_group_path(faculty_id: params[:faculty_id]), class: "btn btn-primary" %>
        <%= link_to "Удалить группу", "#", class: "btn btn-danger", data: { action: "click->groups#deleteGroup" } %>
        <%= link_to "Новый период", new_admin_academic_period_path(faculty_id: params[:faculty_id]), class: "btn btn-primary" %>
        <%= link_to "Редактировать период", "#", class: "btn btn-warning", data: { action: "click->academic-period#editAcademicPeriod", academic_period_target: "editPeriodBtn" } %>
        <%= link_to "Удалить период", "#", class: "btn btn-danger", data: { action: "click->academic-period#deleteAcademicPeriod",academic_period_target: "deletePeriodBtn" } %>
      <% end %>

      <div class="col-12 justify-content-center align-items-center d-flex gap-2">
        <button type="button" 
                class="btn btn-success" 
                data-action="groups#confirm"
                data-schedule-type="default">
          Обычное расписание
        </button>
        
        <button type="button" 
                class="btn btn-outline-primary" 
                data-action="groups#confirm"
                data-schedule-type="lecture">
          Лекционная неделя
        </button>
        
        <button type="button" 
                class="btn btn-outline-primary" 
                data-action="groups#confirm"
                data-schedule-type="test">
          Зачетная неделя
        </button>

        <button type="button" 
                class="btn btn-outline-warning" 
                data-action="groups#confirm"
                data-schedule-type="exams">
          Экзамены
        </button>
        
        <button type="button" 
                class="btn btn-outline-info" 
                data-action="groups#confirm"
                data-schedule-type="transfer">
          Переносы
        </button>
      </div>
    </form>

</div>
