<%= turbo_stream.update 'flash' do %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Академический период "<%= @academic_period.name %>" успешно создан.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<%= turbo_stream.replace 'academic_period_select' do %>
  <select class="form-select" id="academic_period" data-groups-target="academicPeriodSelect">
    <% @academic_periods.each do |period| %>
      <option value="<%= period.id %>" <%= 'selected' if period.id == @academic_period.id %>><%= period.name %></option>
    <% end %>
  </select>
<% end %>

<%= turbo_stream.replace 'editable' do %>
  <%= turbo_frame_tag 'editable' do %>
    <%= link_to "Новая группа", new_admin_faculty_student_group_path(faculty_id: @faculty_id), class: "btn btn-primary" %>
    <%= link_to "Удалить группу", "#", class: "btn btn-danger", data: { action: "click->groups#deleteGroup" } %>
    <%= link_to "Новый период", new_admin_academic_period_path(faculty_id: @faculty_id), class: "btn btn-primary" %>
    
  <% end %>
<% end %>