<%= form_with(model: teacher, url: admin_teachers_path,
              data: { turbo_frame: "teacher_#{teacher.id}" }) do |f| %>
  <div class="mb-3">
    <%= f.label :name, "Имя", class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
    <% teacher.errors.full_messages_for(:name).each do |message| %>
      <div class="invalid-feedback d-block"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :surname, "Фамилия", class: "form-label" %>
    <%= f.text_field :surname, class: "form-control" %>
    <% teacher.errors.full_messages_for(:surname).each do |message| %>
      <div class="invalid-feedback d-block"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :patronymic, "Отчество", class: "form-label" %>
    <%= f.text_field :patronymic, class: "form-control" %>
    <% teacher.errors.full_messages_for(:patronymic).each do |message| %>
      <div class="invalid-feedback d-block"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :post, "Должность", class: "form-label" %>
    <%= f.select :post, ["Старший преподаватель", "Доцент", "Преподаватель", "Аспирант"], 
                {}, class: "form-select" %>
    <% teacher.errors.full_messages_for(:post).each do |message| %>
      <div class="invalid-feedback d-block"><%= message %></div>
    <% end %>
  </div>

  <%= f.submit "Подтвердить", class: "btn btn-primary" %>
<% end %>