<%= turbo_frame_tag "teacher_#{teacher.id}" do %>
  <div class="d-flex gap-3 justify-content-between align-items-center">
    <div class="col">
      <strong><%= teacher.post %></strong>
      <%= "#{teacher.surname} #{teacher.name} #{teacher.patronymic}" %>
    </div>
    
    <div class="d-flex gap-2">
      <%= link_to edit_admin_teacher_path(teacher), 
            class: 'btn btn-sm btn-outline-primary' do %>
        <i class="bi bi-pencil"></i>
      <% end %>
      
      <%= button_to admin_teacher_path(teacher), 
            method: :delete, 
            form: { data: { turbo_confirm: 'Вы уверены?' } }, 
            class: 'btn btn-sm btn-outline-danger' do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </div>
  </div>
<% end %>