<% 
  url = faculty.id.present? ? admin_faculty_path(id: faculty) : admin_faculties_path
  method = faculty.id.present? ? :patch : :create  %>
<%= form_with( scope: faculty, url: url, method: method, local: true ) do |form| %>
  <div class="mb-3">
    <%= form.label :full_name, class: 'form-label' %>
    <%= form.text_field :full_name, class: "form-control #{'is-invalid' if faculty.errors[:full_name].any?}" %>
    <% faculty.errors.full_messages_for(:full_name).each do |message| %>
      <div class="invalid-feedback d-block"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :short_name, class: 'form-label' %>
    <%= form.text_field :short_name, class: "form-control #{'is-invalid' if faculty.errors[:short_name].any?}" %>
    <% faculty.errors.full_messages_for(:short_name).each do |message| %>
      <div class="invalid-feedback d-block"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label "Время обработки", class: 'form-label' %>
    <%= form.time_field :processing_time, class: "form-control #{'is-invalid' if faculty.errors[:processing_time].any?}" %>
    <% faculty.errors.full_messages_for(:processing_time).each do |message| %>
      <div class="invalid-feedback d-block"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label "Ссылка на сайт", class: 'form-label' %>
    <%= form.text_field :src, class: "form-control #{'is-invalid' if faculty.errors[:src].any?}" %>
    <% faculty.errors.full_messages_for(:src).each do |message| %>
      <div class="invalid-feedback d-block"><%= message %></div>
    <% end %>
  </div>
    
  <%= form.submit 'Подтвердить', class: 'btn btn-primary' %>
  <%= link_to 'Отмена', admin_faculties_path, class: 'btn btn-secondary' %>
<% end %>