<div id="cd-nav" data-controller="navbar">
  <a href="javascript:void(0)" class="cd-nav-trigger">
    Menu<span></span>
  </a>

  <nav id="cd-main-nav">
    <ul>
      <li><a href="<%= root_path %>">Главная</a></li>
      <li><a href="https://www.bsut.by">БелГут</a></li>
      <li><%= link_to "Расписание для преподавателей", teachers_path %></li>
      <% if current_user %>
        <li><%= link_to "Редактировать расписание", admin_faculties_path %></li>
        <li>
          <%= link_to "Обновить ключи", keys_path, 
                data: { turbo_method: :post, turbo_confirm: "Вы уверены?" } %>
        </li>
        <li>
          <%= link_to "Выйти", destroy_user_session_path, 
                data: { turbo_method: :delete, turbo_confirm: "Вы уверены?" } %>
        </li>
      <% else %>
        <li><%= link_to "Войти", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</div>